.App {display: flex;
  justify-content: center;
 margin-top: 100px;
  font-size: 12px;
}

.card{
  height:270px;
  width:400px;
  background-color: #134163;
  border-radius: 20px;
  padding : 3px 20px 10px 20px;
  color: white;
  position:relative;
}
.company-name{
  text-align: right;

}
.chip-phone{
  
  height:40px;
  width:40px;
  border-radius: 7px;
}
.valid-thru{display: flex;
 justify-content: center;
 margin-top: 0;
}
.card-superposition{
display: flex;
justify-content: space-between;
align-items: center;
}
.mastercard{
  height:120px;
  width:120px;
  position: absolute;
  left:70%;
  top:60%;
}
.component{
  display: flex;
justify-content: space-around;
width: 50%;
align-items: center;
}
.input{
  display: flex;
  flex-direction: column;
  margin:0px;
}
.data{
  margin-top:20px;
}
.output{
  outline: none;
  border-radius: 7px;
  width:300px;
}
